* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  

.contact-form-container { 
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}


label {
    display: block;
    margin-bottom: 5px;
}

.email-label::before {
    content: "✉️";
    margin-right: 10px
}

.phone-label p::before {
content: "📞";
margin-right: 10px 
}

.terms-link p:hover {
    background-color: #007bff;
    text-decoration: none;
}

.terms-link:visited {
    background-color: #622667;}

input,
textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 1.ms;
}


input:hover {
    background-color: rgb(214, 212, 212);
    border: 1px solid rgb(214, 212, 212);
    transition: transform 0.9s ease-in-out;
    cursor: pointer;
}

input:focus {
    border: 1px solid #4cae4c;
}

input:required {
    content: "*";
    color: red;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


button:hover {
    background-color: #4cae4c;
}

/* Pseudo-elements for Email and Phone Labels */
/* Add ✉️ and 📞 icons before the labels */


/* Styling the Terms and Conditions Link */
.terms-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

/* Add hover and visited states for the link */
/* ::before pseudo-element for <h1> */
